.Parent{
    display: flex;
    justify-content: space-between;
   
}
.first{
    display: flex;
    padding: 20px 0px 20px 60px;
}
.pclass1{
    color: var(--primary);
    font-weight: 600;
}
.pclass2{
    color: var(--font-greycolor);
    font-weight: 600;
}

.second{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    padding-right: 110px;
}

.button1{
  
    border: 2px solid var(--primary);
    height: 33px;
    width: 91px;

}
.button2{
     
    width: 91px;
    height: 33px;
    color: var(--primary);
    font-weight: 800;
}

