.skillsense{
    
    padding: 10px 0px 0px 56px;

    p{
        font-size: 28px;
        font-weight: 900;
    }
}

.parent{
    display: flex;
    justify-content: space-between;
        padding-right: 13%;
    
}