.select-container{
    display: flex;
    gap: 18px;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 10px 5px 30px ;
}

.table-container{

    table{
       
        width: 100%;
        border-collapse: collapse;

        thead{
           
             tr{
               display: flex;
               gap: 100px;
               padding-left: 12rem;
               padding-top: 10px;
               
             th{
                 text-align: center;
                 display: flex;
                
             }
           }
        }
    }
}


.table-body{

    padding-top: 10px;
    padding-right: 20px;
    scrollbar-gutter: stable;
    overflow-y: auto;
    height: 200px;
    
}