.timeline-table {
  width: 100%;
  border-collapse: separate;
 border-spacing: 0 10px; /* vertical gap between rows */
}
.timeline-table thead tr th {
    background-color: #f4f5f8;
    padding: 10px 0;
    }

 .timeline-table thead{
    position: sticky;
    top: 5px;
 }   

.timeline-table td {
  text-align: center;
  padding: 12px 0;
  border: none;
}

.timeline-table tr {
  
  border-radius: 12px;
  overflow: hidden;
}

.timeline-table th {
  font-weight: bold;
  font-size: 1.1rem;
  background: none;
  border: none;
}

table{ 
    border-collapse: none;
    
    tbody{
          

    }

  tr:first-child td:nth-child(2),
  tr:first-child td:nth-child(3),
  tr:first-child td:nth-child(4),
  tr:first-child td:nth-child(5) {

    background-color: #cccdcd;
    
    
  }

   tr:nth-child(2) td:nth-child(2),
  tr:nth-child(2) td:nth-child(3),
  tr:nth-child(2) td:nth-child(4),
  tr:nth-child(2) td:nth-child(5) {

    background-color:#f4f5f8;
  }

  tr:nth-child(3) td:nth-child(2),
  tr:nth-child(3) td:nth-child(3),
  tr:nth-child(3) td:nth-child(4),
  tr:nth-child(3) td:nth-child(5) {

    background-color:#f4f5f8;
  }
   
   tr:nth-child(4) td:nth-child(2),
  tr:nth-child(4) td:nth-child(3),
  tr:nth-child(4) td:nth-child(4),
  tr:nth-child(4) td:nth-child(5) {

    background-color:#f4f5f8;
  }

   tr:nth-child(5) td:nth-child(2),
  tr:nth-child(5) td:nth-child(3),
  tr:nth-child(5) td:nth-child(4),
  tr:nth-child(5) td:nth-child(5) {

    background-color:#f4f5f8;
  }

  tr:nth-child(6) td:nth-child(2),
  tr:nth-child(6) td:nth-child(3),
  tr:nth-child(6) td:nth-child(4),
  tr:nth-child(6) td:nth-child(5) {

    background-color:#f4f5f8;
  }


}

